{% extends 'base.html' %}
{% load static %}
{% comment %} 이걸 여기도 붙여줘야 한다. base.html뿐만 아니라 {% endcomment %}
{% comment %} 장고 템플릿 문법은 주석 처리를 해도 에러가 나오기 마련이기 때문이다. {% endcomment %}

{% block title %} 들어간 인덱스 {% endblock %}

{% block extrahead%}
<link rel="stylesheet" href="hah">
{% endblock%}

{% block content %}
<div class="container">

  <img src="{% static 'images/양남.png'%}" {% if user.is_authenticated %} <p>
  {{user}}님 안녕하세요
  </p>
  <!-- #user가 anonymous인지 판단해준다. -->
  <a href="{% url 'logout'%}">
    <button>로그아웃</button>
  </a>

  {% else %}

  <a href="{% url 'register' %}"> <button>회원가입</button></a>
  <a href="{% url 'login' %}">
    <button>로그인</button>
  </a>
  {% endif %}
  <p>
    유저: {{user}}
  </p>

  <div class="make_jss">
    <a href="{% url 'create' %}">
      <div class="GO_btn">+</div>
    </a>
    <h3>자소서 작성</h3>
  </div>

  <!-- {{all__jss}} -->
  {% for jss in all_jss %}
  <div class="my_jss">
    <a href="{% url 'detail' jss.id %}">
      <p>{{jss.id}}번째 자소설</p>

    </a>
    <p> <img src="{{ jss.myimage.url }}"> </p>


    <!-- <p>{{jss.body}}</p> -->
    <p>{{jss.create_at}}</p>
  </div>
  {% endfor %}
</div>
</body>
{% endblock%}